fastapi
uvicorn
websockets
python-multipart
pydantic
python-dotenv
shapely
numpy<2.0.0
pygame
torch
torchvision
gymnasium
stable-baselines3
pandas
tabulate
opencv-python
osmnx
networkx
geopandas
matplotlib
scipy
ultralytics>=8.0.0
scikit-learn>=1.3.0
